<nav class="navbar navbar-expand-lg navbar-dark brand1--background fira">
  <a class="navbar-brand" href="#">{{title}}</a>

  <div id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Find your next class</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Meet our instructors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">About us</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container padding--md">
  <div class="row search-container margin--bottom--md">
    <div>
      <div class="brand2--text search-titles fira brand1--text">Search by experience<br/>
        <form id="experience-selector">
          <select class="form-control mb-2" (change)="onChange($event.target.value)">
            <option value=0>Experience level</option>
            <option value=1>Beginner</option>
            <option value=2>Intermediate</option>
            <option value=3>Advanced</option>
          </select>
        </form>
      </div>
    </div>
    <div>
      <div class="brand2--text search-titles fira brand1--text">Search by class type<br/>
        <form id="type-selector">
          <select class="form-control mb-2" (change)="onChange($event.target.value)">
            <option value=0>Class type</option>
            <option value=1>Acting</option>
            <option value=2>Dance</option>
            <option value=3>Music</option>
            <option value=4>Other</option>
          </select>
        </form>
      </div>
    </div>
    <div>
      <div class="brand2--text search-titles fira brand1--text">Search by day<br/>
        <form id="day-selector">
          <select class="form-control mb-2" (change)="onChange($event.target.value)">
            <option value=0>Class day</option>
            <option value=1>Monday</option>
            <option value=2>Tuesday</option>
            <option value=3>Wednesday</option>
            <option value=4>Thursday</option>
            <option value=4>Friday</option>
            <option value=4>Saturday</option>
            <option value=4>Sunday</option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="listing-container">
      <app-edit-session [childSessions]="sessions"></app-edit-session>
    </div>
  </div>
</div>
