@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(234, 224, 204, 1);
}

.brand1--background {
  background-color: rgba(122, 22, 20, 1);
}

.white--background {
  background-color: white;
}

.brand2--background {
  background-color: rgba(43, 35, 33, 1);
}

.brand1--text {
  color: rgba(122, 22, 20, 1);
}

.brand2--text {
  color: rgba(43, 35, 33, 1);
}

.fira {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.padding--md {
  padding: 20px;
}

.margin--bottom--md {
  margin-bottom: 20px;
}
